<ul class="nav navbar-dark bg-dark justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-light" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/articles/new">New Article</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/about">Github</a>
  </li>
</ul>
